/* Font import */
@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');

html{
    padding: 0px;
    margin: 0px;
}

* {
    font-family: 'Roboto', sans-serif;
}

a {
    text-decoration: none;
    color: inherit
}