/* Font import */
@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');

body{
    padding: 0px;
    margin: 0px;
}

* {
    font-family: 'Roboto', sans-serif;
}

a {
    text-decoration: none;
    color: inherit
}

.logo-box{
    margin: 0 auto;
    height: fit-content;
    width: 80%;
    border: 1.7px solid grey;
    border-radius: 30px;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: 300ms;
}

.logo-box:hover{
    cursor: pointer;
}

.logo-text{
    margin: 0px;
}